<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage">
    </uses-permission>

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IoTMonitoraAgua"
        tools:targetApi="31">
        
        <activity
            android:name=".Turbidez"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".PH"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Temperatura"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Alertas_Dados"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Sensor_TDS"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activity_sensor_turbidez"
            android:exported="false" />
        <activity
            android:name=".activity_sensor_temperatura"
            android:exported="false" />
        <activity
            android:name=".activity_sensor_umidade"
            android:exported="false" />
        <activity
            android:name=".activity_sensor_ph"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Sensores_visualizacao"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Conta"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pontos_de_Coleta"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Dados"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Sensores_Activity"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:parentActivityName=".Dashboard"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Tela_de_Cadastro"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenAppAgua"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>